:root {
    --standard-gap: 10px;
    --standard-height: 35px;
    --standard-border-radius: 17.5px;
}

.brown-group { background-color: #955235; }
.lightblue-group { background-color: #aae0fa; }
.pink-group { background-color: #d93a96 }
.orange-group { background-color: #f7941d; }
.red-group { background-color: #f7941d; }
.yellow-group { background-color: #fef200; }
.green-group { background-color: #1fb25a; }
.darkblue-group { background-color: #0072bb; }

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(192, 118, 57);
}

.appear-above {
    position: absolute;
    z-index: 2;
}

.appear-below {
    position: absolute;
    z-index: 1;
}

.game-menus {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr auto 1fr;  /* left menu | board | right menu */
    grid-template-rows: 100%;
}

#monopoly-board-container {
    --board-size: 100vh;
    --short-side: calc(var(--board-size) * (75 / 915));
    --long-side: calc(var(--board-size) * (120 / 915));

    grid-column: 2;
    grid-row: 1;

    grid-template-columns: var(--long-side) repeat(9, var(--short-side)) var(--long-side);
    grid-template-rows: var(--long-side) repeat(9, var(--short-side)) var(--long-side);

    width: calc(var(--short-side) * 9 + var(--long-side) * 2);
    height: calc(var(--short-side) * 9 + var(--long-side) * 2);
    background-color: #cde6d0;
    display: grid;
}

/* tile styles */

.tile, .corner {
    box-sizing: border-box;
    border: 0.1vh solid #000000;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.corner {
    width: var(--long-side);
    height: var(--long-side);
    background-color: #cde6d0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tile {
    width: var(--short-side);
    height: var(--long-side);
    background-color: #cde6d0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.color-bar {
    width: 100%;
    height: 24%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    border-bottom: #000000 0.1vh solid;
}

.property-content {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    width: 100%;
    height: 76%;
}

.non-property-content {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.tax-label {
    position: absolute;
    font-size: 1.5vmin;
    top: 1vh;
}

.tile-name {
    position: absolute;
    font-size: 1vmin;
    top: 1vh;
}

.tile-price {
    position: absolute;
    font-size: 1vmin;
    bottom: 1vh;
}

.bottom, .left, .top, .right {
    transition: translate 0.2s;
}

.bottom:hover {
    cursor: pointer;
    translate: 0 -1vmin;
}

.left {
    transform-origin: 50% 50%;
    transform: rotate(90deg) translate(
        calc((var(--short-side) - var(--long-side)) / 2),
        calc((var(--short-side) - var(--long-side)) / 2)
    );
}

.left:hover {
    cursor: pointer;
    translate: 1vmin 0;
}

.top {
    transform-origin: 50% 50%;
    transform: rotate(180deg);
}

.top:hover {
    cursor: pointer;
    translate: 0 1vmin;
}

.right {
    transform-origin: 50% 50%;
    transform: rotate(270deg) translate(
        calc((var(--long-side) - var(--short-side)) / 2),
        calc((var(--long-side) - var(--short-side)) / 2)
    );
}

.right:hover {
    cursor: pointer;
    translate: -1vmin 0;
}

/* sets positioning */

.space0 { /* GO */
    grid-row: 11 / span 1;
    grid-column: 11 / span 1;
}

.space1 {
    grid-row: 11 / span 1;
    grid-column: 10 / span 1;
}

.space2 {
    grid-row: 11 / span 1;
    grid-column: 9 / span 1;
}

.space3 {
    grid-row: 11 / span 1;
    grid-column: 8 / span 1;
}

.space4 {
    grid-row: 11 / span 1;
    grid-column: 7 / span 1;
}

.space5 { /* KING'S CROSS STATION */
    grid-row: 11 / span 1;
    grid-column: 6 / span 1;
}

.space6 {
    grid-row: 11 / span 1;
    grid-column: 5 / span 1;
}

.space7 {
    grid-row: 11 / span 1;
    grid-column: 4 / span 1;
}

.space8 {
    grid-row: 11 / span 1;
    grid-column: 3 / span 1;
}

.space9 {
    grid-row: 11 / span 1;
    grid-column: 2 / span 1;
}

.space10 { /* JAIL */
    grid-row: 11 / span 1;
    grid-column: 1 / span 1;
}

.space11 {
    grid-row: 10 / span 1;
    grid-column: 1 / span 1;
}

.space12 { /* ELECTRIC COMPANY */
    grid-row: 9 / span 1;
    grid-column: 1 / span 1;
}

.space13 {
    grid-row: 8 / span 1;
    grid-column: 1 / span 1;
}

.space14 {
    grid-row: 7 / span 1;
    grid-column: 1 / span 1;
}

.space15 { /* MARYLEBONE STATION */
    grid-row: 6 / span 1;
    grid-column: 1 / span 1;
}

.space16 {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
}

.space17 {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
}

.space18 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
}

.space19 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

.space20 { /* FREE PARKING */
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

.space21 {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

.space22 {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}

.space23 {
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
}

.space24 {
    grid-row: 1 / span 1;
    grid-column: 5 / span 1;
}

.space25 { /* FENCHURCH ST STATION */
    grid-row: 1 / span 1;
    grid-column: 6 / span 1;
}

.space26 {
    grid-row: 1 / span 1;
    grid-column: 7 / span 1;
}

.space27 {
    grid-row: 1 / span 1;
    grid-column: 8 / span 1;
}

.space28 { /* WATER WORKS */
    grid-row: 1 / span 1;
    grid-column: 9 / span 1;
}

.space29 {
    grid-row: 1 / span 1;
    grid-column: 10 / span 1;
}

.space30 { /* GO TO JAIL */
    grid-row: 1 / span 1;
    grid-column: 11 / span 1;
}

.space31 {
    grid-row: 2 / span 1;
    grid-column: 11 / span 1;
}

.space32 {
    grid-row: 3 / span 1;
    grid-column: 11 / span 1;
}

.space33 {
    grid-row: 4 / span 1;
    grid-column: 11 / span 1;
}

.space34 {
    grid-row: 5 / span 1;
    grid-column: 11 / span 1;
}

.space35 { /* LIVERPOOL STREET STATION */
    grid-row: 6 / span 1;
    grid-column: 11 / span 1;
}

.space36 {
    grid-row: 7 / span 1;
    grid-column: 11 / span 1;
}

.space37 {
    grid-row: 8 / span 1;
    grid-column: 11 / span 1;
}

.space38 { /* SUPER TAX */
    grid-row: 9 / span 1;
    grid-column: 11 / span 1;
}

.space39 {
    grid-row: 10 / span 1;
    grid-column: 11 / span 1;
}

.tile-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.player-content {
    position: absolute;
    width: calc(var(--short-side) * 0.8);
    aspect-ratio: 1;
    z-index: 2;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.player-piece {
    transition: transform 0.2s ease-in-out;
}

.player-piece:hover {
    transform: scale(1.4);
}

/* menu universal styles */

.header2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--standard-height);
    font-size: 2vh;
    font-weight: bold;
}

/* left-menu */

.left-menu-container {
    width: calc(100% - (2 * var(--standard-gap)));
    margin-top: var(--standard-gap);
    margin-left: var(--standard-gap);
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: var(--standard-gap);
}

.left-ui {
    border-radius: var(--standard-border-radius);
    background: white;
}

.party-information {
    border-top-right-radius: var(--standard-border-radius);
    border-top-left-radius: var(--standard-border-radius);
    background-color: rgb(10, 173, 10);
    color: rgb(255, 255, 255);
}

.turn-information {
    display: flex;
    flex-direction: row;
    height: var(--standard-height);
    gap: var(--standard-gap);
}

.turn-message, .dice-roller {
    border-radius: var(--standard-border-radius);
    font-size: 1em;
    font-weight: bold;
}

.turn-message {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    overflow: hidden;
    background-color: white;
    padding-left: var(--standard-gap);
    flex: 1;
    transition: background-color 0.2s ease-in-out;
}

.dice-roller {
    border: none;
    width: 100px;
    background-color: white;
    transition: background-color 0.2s ease-in-out;
}

.dice-roller:hover {
    cursor: pointer;
    background-color: rgb(211, 211, 211);
}

/* right-menu */

.right-menu-container {
    width: calc(100% - (2 * var(--standard-gap)));
    margin-top: var(--standard-gap);
    margin-left: var(--standard-gap);
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: var(--standard-gap);
}

.right-ui {
    border-radius: var(--standard-border-radius);
    background: white;
}

.player-currency {
    margin-bottom: var(--standard-gap);
    border-bottom: #555 1px solid;
    overflow: hidden;
}

.player-currency-text {
    text-wrap: nowrap;
}

.currency-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-size: 4vh;
    padding: var(--standard-gap);
    color: rgb(10, 173, 10);
    font-weight: bold;
}

.denomination-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.denomination-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--standard-height), 1fr));
    padding: var(--standard-gap);
}

/* player list */

.player-list {
    display: flex;
    flex-direction: column;
    gap: var(--standard-gap);
    padding: var(--standard-gap);
}

.player-list-item {
    display: flex;
}

/* deed */

.deed-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deed-header {
    font-weight: bold;
    height: 20px;
}

.deed-card {
    width: 235px;
    height: 366px;
    margin: 11px;
    background-color: white;
    display: flex;
}   

.deed-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 13px;
    padding: 7px;
    border: black 2px solid;
    box-sizing: border-box;
}

.property-bar {
    border: black 2px solid;
    box-sizing: border-box;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.rent-list, .develop {
    position: relative;
    display: flex;
    flex-direction: row;
}

.rent-list {
    border-bottom: black 2px solid;
    box-sizing: border-box;
    height: 183px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.develop {
    margin-top: 9px;
}

.rent-labels, .rent-costs, .building-type, .building-cost {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 11px;
}

.rent-labels, .building-type {
    position: absolute;
    left: 0;
    text-align: left;
}

.rent-costs, .building-cost {
    position: absolute;
    right: 0;
    text-align: right;
}

.deed-label-text {
    height: 13px;
    font-size: 13px;
    overflow: hidden;
}

.plus-four-houses {
    font-size: 9px;
}

.deed-action-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.property-list {
    height: 100px;
    background-color: #b6b6b6;
}

.give-receive-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
}