body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.game-menus {
    width: 100vmin;
    height: 100vmin;
    position: relative;
}

#monopoly-board-container {
    --board-size: 100vmin;
    --short-side: calc(var(--board-size) * (75 / 915));
    --long-side: calc(var(--board-size) * (120 / 915));

    grid-template-columns: var(--long-side) repeat(9, var(--short-side)) var(--long-side);
    grid-template-rows: var(--long-side) repeat(9, var(--short-side)) var(--long-side);
    width: calc(var(--short-side) * 9 + var(--long-side) * 2);
    height: calc(var(--short-side) * 9 + var(--long-side) * 2);
    display: grid;
    background-color: #cde6d0
}



.text {
    font-size: 1vmin;
}

/* tile styles */

.tile {
    box-sizing: border-box;
    border-left: #000000 1px solid;
    border-right: #000000 1px solid;
    border-top: #000000 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-bar {
    width: 100%;
    height: 24%;
    background-color: red;
    border-bottom: #000000 2px solid;
}

.property-content {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    width: 100%;
    height: 76%;
}

.non-property-content {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.tax-label {
    position: absolute;
    font-size: 1.5vmin;
    top: 1vh;
}

.tile-name {
    position: absolute;
    top: 1vh;
}

.tile-price {
    position: absolute;
    bottom: 1vh;
}

.left {
    width: var(--short-side);
    height: var(--long-side);
    transform-origin: 50% 50%;
    transform: rotate(90deg) translate(
        calc((var(--short-side) - var(--long-side)) / 2),
        calc((var(--short-side) - var(--long-side)) / 2)
    );
}

.top {
    transform-origin: 50% 50%;
    transform: rotate(180deg);
}

.right {
    width: var(--short-side);
    height: var(--long-side);
    transform-origin: 50% 50%;
    transform: rotate(270deg) translate(
        calc((var(--long-side) - var(--short-side)) / 2),
        calc((var(--long-side) - var(--short-side)) / 2)
    );
}

/* sets positioning */

.space0 { /* GO */
    grid-row: 11 / span 1;
    grid-column: 11 / span 1;
}

.space1 {
    grid-row: 11 / span 1;
    grid-column: 10 / span 1;
}

.space2 {
    grid-row: 11 / span 1;
    grid-column: 9 / span 1;
}

.space3 {
    grid-row: 11 / span 1;
    grid-column: 8 / span 1;
}

.space4 {
    grid-row: 11 / span 1;
    grid-column: 7 / span 1;
}

.space5 { /* KING'S CROSS STATION */
    grid-row: 11 / span 1;
    grid-column: 6 / span 1;
}

.space6 {
    grid-row: 11 / span 1;
    grid-column: 5 / span 1;
}

.space7 {
    grid-row: 11 / span 1;
    grid-column: 4 / span 1;
}

.space8 {
    grid-row: 11 / span 1;
    grid-column: 3 / span 1;
}

.space9 {
    grid-row: 11 / span 1;
    grid-column: 2 / span 1;
}

.space10 { /* JAIL */
    grid-row: 11 / span 1;
    grid-column: 1 / span 1;
}

.space11 {
    grid-row: 10 / span 1;
    grid-column: 1 / span 1;
}

.space12 { /* ELECTRIC COMPANY */
    grid-row: 9 / span 1;
    grid-column: 1 / span 1;
}

.space13 {
    grid-row: 8 / span 1;
    grid-column: 1 / span 1;
}

.space14 {
    grid-row: 7 / span 1;
    grid-column: 1 / span 1;
}

.space15 { /* MARYLEBONE STATION */
    grid-row: 6 / span 1;
    grid-column: 1 / span 1;
}

.space16 {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
}

.space17 {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
}

.space18 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
}

.space19 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

.space20 { /* FREE PARKING */
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

.space21 {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

.space22 {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}

.space23 {
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
}

.space24 {
    grid-row: 1 / span 1;
    grid-column: 5 / span 1;
}

.space25 { /* FENCHURCH ST STATION */
    grid-row: 1 / span 1;
    grid-column: 6 / span 1;
}

.space26 {
    grid-row: 1 / span 1;
    grid-column: 7 / span 1;
}

.space27 {
    grid-row: 1 / span 1;
    grid-column: 8 / span 1;
}

.space28 { /* WATER WORKS */
    grid-row: 1 / span 1;
    grid-column: 9 / span 1;
}

.space29 {
    grid-row: 1 / span 1;
    grid-column: 10 / span 1;
}

.space30 { /* GO TO JAIL */
    grid-row: 1 / span 1;
    grid-column: 11 / span 1;
}

.space31 {
    grid-row: 2 / span 1;
    grid-column: 11 / span 1;
}

.space32 {
    grid-row: 3 / span 1;
    grid-column: 11 / span 1;
}

.space33 {
    grid-row: 4 / span 1;
    grid-column: 11 / span 1;
}

.space34 {
    grid-row: 5 / span 1;
    grid-column: 11 / span 1;
}

.space35 { /* LIVERPOOL STREET STATION */
    grid-row: 6 / span 1;
    grid-column: 11 / span 1;
}

.space36 {
    grid-row: 7 / span 1;
    grid-column: 11 / span 1;
}

.space37 {
    grid-row: 8 / span 1;
    grid-column: 11 / span 1;
}

.space38 { /* SUPER TAX */
    grid-row: 9 / span 1;
    grid-column: 11 / span 1;
}

.space39 {
    grid-row: 10 / span 1;
    grid-column: 11 / span 1;
}
/*

.property {
    display: grid;
    grid-template-rows: calc(var(--short-side) * 0.35) 1fr;
    grid-template-columns: 100%;
    box-sizing: border-box;
    border: 2px solid #000000;
}

.color-bar {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    background-color: red;
    border-bottom: 2px solid black;
}

.tile-content {
    display: flex;
    
    flex-direction: column; 
    
    align-items: center; 
    
    justify-content: center; 
    
    width: 100%;
    height: 100%;
    
    text-align: center;
    font-family: sans-serif;
    padding: 2px;
}

.left {
    outline: 1px solid #000000;
    grid-row: 9 / span 1;
    grid-column: 1 / span 1;
    overflow: hidden;

    width: var(--short-side);
    height: var(--long-side);

    transform-origin: 50% 50%;

    transform: rotate(90deg) translate(
        calc((var(--short-side) - var(--long-side)) / 2),
        calc((var(--short-side) - var(--long-side)) / 2)
    );
}

.top {
    grid-row: 1 / span 1; 
    grid-column: 3 / span 1;
    overflow: hidden;

    transform-origin: 50% 50%;
    transform: rotate(180deg);
}

.right {
    overflow: hidden;

    width: var(--short-side);
    height: var(--long-side);

    transform-origin: 50% 50%;

    transform: rotate(270deg) translate(
        calc((var(--long-side) - var(--short-side)) / 2),
        calc((var(--long-side) - var(--short-side)) / 2)
    );
}

.space1 {
    grid-row: 3 / span 1; 
    grid-column: 11 / span 1;
}

.space2 {
    grid-row: 4 / span 1; 
    grid-column: 11 / span 1;
}

.bottom {
    grid-row: 11 / span 1; 
    grid-column: 9 / span 1;
    overflow: hidden;
    
} */

