:root {
    --rotateme: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.game-menus {
    width: 100vmin;
    height: 100vmin;
    position: relative;
}

#monopoly-board-container {
    --board-size: 100vmin;
    --short-side: calc(var(--board-size) * (65 / 785));
    --long-side: calc(var(--board-size) * (100 / 785));

    grid-template-columns: var(--long-side) repeat(9, var(--short-side)) var(--long-side);
    grid-template-rows: var(--long-side) repeat(9, var(--short-side)) var(--long-side);

    width: var(--board-size);
    height: var(--board-size);

    display: grid;

    background-color: #cde6d0
}