<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monopoly round</title>
    <link rel="stylesheet" href="{% static 'css/gamestyles.css' %}">
    <script>
        window.PLAYER_UUID = "{{ player_uuid }}";
        window.PARTY_CODE = "{{ party_code }}";
    </script>
</head>
<body>
    <div class="game-menus">
        <div class="monopoly-board-container" id="monopoly-board-container">
        </div>
    </div>
    <script type="module" src="{% static 'js/game.js' %}"> defer</script>
</body>
</html>

