<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monopoly {{ party_code }}</title>
    <link rel="stylesheet" href="{% static 'css/gamestyles.css' %}">
    <script>
        window.PLAYER_UUID = "{{ player_uuid }}";
        window.PARTY_CODE = "{{ party_code }}";
    </script>
</head>
<body>
    <div class="appear-above">
        <div class="deed-menu hidden" id="deed-menu">
            <div class="deed-header" id="deed-header">PLACEHOLDER</div>
            <div class="deed-card">
                <div class="deed-content" id="deed-content">
                    <!--will show here-->
                </div>
            </div>
            <div class="deed-action-btns">
                <div class="if-unowned hidden" id="if-unowned">
                    <button class="purchase-btn" id="purchase-btn">Purchase</button>
                    <button class="auction-btn" id="auction-btn">Auction</button>
                </div>
                <div class="if-owned hidden" id="if-owned">
                    <button class="mortgage-btn" id="mortgage-btn">Mortgage</button>
                    <button class="trade-btn" id="trade-btn">Trade</button>
                </div>
                <button id="close-deed-menu">Close</button>
            </div>
        </div>
    </div>
    <div class="appear-below">
        <div class="game-menus">
            <div class="left-menu-container" id="left-menu-container">
                <div class="game-information left-ui">
                    <div class="party-information header2">
                        {{ party_code }}
                    </div>
                    <div class="player-list" id="player-list">
                        Hello!!!!
                    </div>
                </div>
                <div class="turn-information">
                    <div class="turn-message">
                        It's your turn!
                        <!-- It's your turn. -->
                        <!-- It's [playername]'s. turn. -->
                        <!-- It's not your turn. -->
                    </div>
                    <button class="dice-roller" id="dice-roller">Roll dice</button>
                </div>
            </div>
            <div class="monopoly-board-container" id="monopoly-board-container">
            </div>
            <div class="right-menu-container" id="right-menu-container">
                <div class="currency-information right-ui">
                    <div class="player-currency" id="player-currency">
                        <div class="player-currency-text header2">YOU CURRENTLY HAVE:</div>
                        <div class="currency-amount" id="currency-amount"></div>
                        <div class="player-currency-text header2">TO YOUR NAME!</div>
                    </div>
                    <div class="denomination-information">
                        <div class="denomination-text">Amount per denomination</div>
                        <div class="denomination-list">
                            <!-- Denomination items will be rendered here -->
                        </div>
                    </div>
                </div>
                <div class="trade-menu right-ui">
                    <div class="trade-header header2">Trade</div>
                    <div class="give-receive-container">
                        <div class="to-give" id="to-give">
                            You've nothing in your posessions.
                        </div>
                        <div class="to-receive">
                            They've nothing in their posessions.
                        </div>
                    </div>
                </div>
                <button id="leave-the-game">Leave</button>
            </div>
        </div>
    </div>
    <script type="module" src="{% static 'js/game.js' %}"> defer</script>
</body>
</html>

